<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwConfigExceptions="true"
    internalLogLevel="info"
    internalLogFile="C:\PersonalInteractiveCardMVC\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    
    <target name="database" xsi:type="Database"
      dbProvider="Npgsql.NpgsqlConnection, Npgsql"
      connectionString="Server=localhost;Port=5432;Database=InteractiveCardDB;User Id=kamilfaruk;Password=0778;Integrated Security=true;Pooling=true;" >
     
      <commandText>
        INSERT INTO "Log" ("Application", "Level", "Message", "Logger", "Callsite", "Exception", "Logged") VALUES (@Application, @Level, @Message, @Logger, @Callsite, @Exception,@Logged );
      </commandText>
      
      <parameter name="@Application" layout="AspNetCoreNlog" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@CallSite" layout="${callsite:filename=true}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
      <parameter name="@Logged" layout="${date}" />
    </target>
    
  </targets>


  <rules>
    <logger name="*"  minlevel="Debug" maxlevel="Error" final="true" writeTo="database" />
  </rules>
</nlog>